@charset "UTF-8";
@import "base";


// #headerArea{
//     position: fixed;
//     z-index: 100;
//     top: 0;
//     left: 0;
//     // &.fixed{
//     //     position: fixed;
//     // }
// }
.nav-wrap{
    display: flex;
    flex: auto;
}
.clock-box{
    text-align: right;
    font-size: 14px;
    >h2{
        margin-right: 5px;
        // margin-bottom: 5px;
        font-weight: 700;
        display: inline-block;
    }
    >p{
        display: inline-block;
    }
}

.visual{
    .swiper-slide{
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-of-type(even){
            background: rgb(68, 94, 212);
        }
        &:nth-of-type(odd){
            background: rgb(253, 213, 213);
        }
    }
    [class^='swiper-button-']{
        width: 30px;
        height: 50px;
        z-index: 2;
        background: #fff;
        position: absolute;
        top: 50%;
        margin-top: -25px;
        &[class*='prev']{
            left: 5%;
        }
        &[class*='next']{
            right: 5%;
        }
        &[class*='disabled']{
            opacity: 0.3;
        }
    }
    .swiper-pagination{
        height: 15px;
        position: absolute;
        bottom: 5%;
        left: 50%;
        z-index: 2;
        transform: translateX(-50%);
        cursor: pointer;
        [class*='-bullet']{
            display: block;
            width: 20px;
            height: 18px;
            line-height: 18px;
            background: #ccc;
            float: left;
            margin-right: 5px;
            text-align: center;
        }
        [class*='-active']{
            background:rgb(228, 100, 200);
            color: #fff;
            font-weight: 700;
        }
    }
    .mySwiper{
        .swiper-slide{
            height: 50px;
            opacity: .5;
            background: #eee;
            cursor: pointer;
            &[class*='-thumb-active']{
                opacity: 1;
                font-weight: 700;
            }
        }
    }
}

.inner{
    width: 1200px;
    margin: 0 auto;
    >h2{
        margin: 50px 0 30px;
        font-size: 30px;
        font-weight: 700;
    }
}

.table-wrap{
    table{
        width: 100%;
        tr{
            th, td{
                padding: 20px 15px;
                border-right: 1px solid #efefef;
                line-height: 1.4;
                &:last-child{
                    border-right: 0;
                }
            }
        }
        thead{
            border-top:1px solid #efefef;
            th{
                font-weight: 700;
                border-bottom: 1px solid #efefef;
                font-size: 20px;
                background: rgb(253, 253, 238);
            }
        }
        tbody{
            tr{
                border-bottom:1px solid #efefef;
            }
            th{                
                font-weight: 700;
            }
            button{
                text-decoration: underline;
            }
        }
    }
}

@keyframes floating{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }

}
.gsap-wrap{
    .ball{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: #a951bf;
        display: block;
        // animation: floating 2s ease infinite;
    }
}


.aos-ex{
    margin-top: 200px;
    .box{
        width: 100%;
        background: red;
        height: 600px;
    }
    .box1{
        width: 100%;
        background: blue;
        height: 600px;
    }
}

.word-sep{
    font-size: 80px;
    color: #fff;
    margin-top: 200px;
    text-align: center;
    >li{
        font-weight: 700;
        display: inline-block;
        letter-spacing: 12px;
        &[data-aos-duration='1800']{
            font-size: 100px;
        }
    }
}


.footer{
    width: 100%;
    background: #888;
    margin-top: 100px;
    height: 200px;
    padding: 20px;
    .select-box{
        width: 200px;
        font-size: 12px;
        [class*='-singleValue']{
            font-size: inherit;
        }
    }
}

